<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Not found</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="lumiaxu"/>
    <meta name="keywords" content="lumiaxu"/>
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script> [endif]-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/skel.min.js"></script>
    <script src="/static/js/skel-layers.min.js"></script>
    <script src="/static/js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="/static/css/skel.css"/>
        <link rel="stylesheet" href="/static/css/style.css"/>
        <link rel="stylesheet" href="/static/css/style-xlarge.css"/>
    </noscript>
</head>
<body>
<header id="header">
    <h1><strong><a href="index.html">LumiaXu</a></strong>'s blog</h1>
    <nav id="nav">
        <ul>
            <li><a href="/index/">Home</a></li>
            <li><a href="/category/">Category</a></li>
            <li><a href="/articles/">Articles</a></li>
            <li><a href="/elements/">About Me</a></li>
        </ul>
    </nav>
</header>
<section id="main" class="wrapper">
    <div class="container">
        <div style="text-align: center">
            <h2>404</h2>
            <p>LumiaXu thanks for your exploring ~ </p>
        </div>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="#" class="icon fa-facebook"></a></li>
            <li><a href="#" class="icon fa-twitter"></a></li>
            <li><a href="#" class="icon fa-instagram"></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; LumiaXu</li>
            <li>Thanks: <a href="http://templated.co">Templated</a></li>
            <li>西元2016</li>
        </ul>
    </div>
</footer>
</body>
</html>