<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="LumiaXu"/>
    <meta name="keywords" content="Lumiaxu"/>
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script> [endif]-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/skel.min.js"></script>
    <script src="/static/js/skel-layers.min.js"></script>
    <script src="/static/js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="/static/css/skel.css"/>
        <link rel="stylesheet" href="/static/css/style.css"/>
        <link rel="stylesheet" href="/static/css/style-xlarge.css"/>
    </noscript>
    <style rel="stylesheet">
        .metaCinema {
            background: url("/static/images/hongkong.jpg");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    </style>
    <script>function crystal(a) {
        a.style.opacity = "0.6"
    }
    function antiCrystal(a) {
        a.style.opacity = "1.0"
    }</script>
</head>
<body class="metaCinema">
<header id="header" style="opacity: 1">
    <h1><strong><a href="index.html">lumiaxu</a></strong>'s blog</h1>
    <nav id="nav">
        <ul>
            <li><a href="/index/">Home</a></li>
            <li><a href="/category/">Category</a></li>
            <li><a href="/articles/">Articles</a></li>
            <li><a href="/elements/">About Me</a></li>
        </ul>
    </nav>
</header>
<section id="banner_hk_1" class="wrapper style1">
    <div style="text-align: center">
        <img src="/static/images/pd.png" width="120" height="120">
        <h2 style="color: #FFFFFF">LumiaXu</h2>
    </div>

    <div class="container 75%">
        <div class="row 200%">
            <div class="6u 12u$(medium)">
                <header class="major">
                    <h2 style="color: white">简介</h2>
                    <!--标题-->
                    <p style="color: white">invictus maneo</p>
                    <!--副标题-->
                </header>
            </div>
            <div>
                <br><br>
            </div>
            <div class="6u$ 12u$(medium)">
                <strong ><p style="color: white">LumiaXu 现就读于电子科技大学 是一名web开发者 ^~^<br>
                    然后现在单身哦~ 欢迎来勾搭.
                    <br>我努力让生活学习工作更加精致美好~</p></strong>
            </div>
        </div>
    </div>
</section>

<section id="banner_hk_2" class="wrapper style1">
    <div class="container 75%">
        <div class="row 100%">
            <div class="6u 12u$(medium)">
                <header class="major">
                    <h2 style="color: white">技能点</h2>
                    <!--标题-->
                    <p style="color: white">Love is just a four-letter-word</p>
                    <!--副标题-->
                </header>
            </div>
            <div class="6u$ 12u$(medium)">
                <p style="padding-right: 30%; color: white">
                    <strong style="color: white">恋爱</strong>: 0 <br>
                    <strong style="color: white">Python</strong>: 4<br>
                    <strong style="color: white">前端</strong>: 2<br>
                    <strong style="color: white">Django</strong>: 5</p>
            </div>
        </div>
    </div>
</section>

<section id="banner_hk_3" class="wrapper style1">
    <div class="container 75%">
        <div class="row 200%">
            <div class="6u 12u$(medium)">
                <header class="major">
                    <h2 style="color: white">憧憬</h2>
                    <!--标题-->
                    <p style="color: white">hello future I love you</p>
                    <!--副标题-->
                </header>
            </div>
            <div class="6u$ 12u$(medium)">
                <strong style="color: white">
                    <p>希望可以赶快有个女朋友<br>
                    希望可以去香港读书<br>
                    希望可以挣很多很多钱,<br>
                    吃好多吃的,买很多很多设备玩</p>
                </strong>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="#" class="icon fa-facebook"></a></li>
            <li><a href="#" class="icon fa-twitter"></a></li>
            <li><a href="#" class="icon fa-instagram"></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; LumiaXu</li>
            <li>Thanks: <a href="http://templated.co">Templated</a></li>
            <li>西元2016</li>
        </ul>
    </div>
</footer>

</body>

</html>