{% load djangomarkdown %}
<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Articles</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Lumiaxu"/>
    <meta name="keywords" content="LumiaXu"/>
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script> [endif]-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/skel.min.js"></script>
    <script src="/static/js/skel-layers.min.js"></script>
    <script src="/static/js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="/static/css/skel.css"/>
        <link rel="stylesheet" href="/static/css/style.css"/>
        <link rel="stylesheet" href="/static/css/style-xlarge.css"/>
    </noscript>
</head>
<body>

<!-- Header -->
<header id="header">
    <h1><strong><a href="index.html">lumiaxu</a></strong>'s blog</h1>
    <nav id="nav">
        <ul>
            <li><a href="/index/">Home</a></li>
            <li><a href="/category/">Category</a></li>
            <li><a href="/articles/">Articles</a></li>
            <li><a href="/about_me/">About Me</a></li>
        </ul>
    </nav>
</header>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="container" style="padding-right: 15%; padding-left: 15%">

        <header class="major special">
            <h2>{{ article.title }}</h2>
            <p>{{ article.subtitle }}</p>
        </header>
        {{ article.main_text|djangomarkdown }}
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="#" class="icon fa-facebook"></a></li>
            <li><a href="#" class="icon fa-twitter"></a></li>
            <li><a href="#" class="icon fa-instagram"></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; LumiaXu</li>
            <li>Thanks: <a href="http://templated.co">TEMPLATED</a></li> <!-- 感谢templated提供非盈利性的开源模板,在此提供他们的链接-->
            <li>西元 2016</li>
        </ul>
    </div>
</footer>

</body>
</html>