<!DOCTYPE HTML>

<html>
<head>
    <title>Category</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="lumiaxu"/>
    <meta name="keywords" content="lumiaxu"/>
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script> [endif]-->

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/skel.min.js"></script>
    <script src="/static/js/skel-layers.min.js"></script>
    <script src="/static/js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="/static/css/skel.css"/>
        <link rel="stylesheet" href="/static/css/style.css"/>
        <link rel="stylesheet" href="/static/css/style-xlarge.css"/>
    </noscript>
</head>
<body style="background-color: #FAFAFF">


<!-- Header -->
<header id="header" style="background-color: #FAFFFF">
    <h1><strong><a href="index.html">lumiaxu</a></strong>'s blog</h1>
    <nav id="nav">
        <ul>
            <li><a href="/index/">Home</a></li>
            <li><a href="/category/">Category</a></li>
            <li><a href="/articles/">Articles</a></li>
            <li><a href="/about_me/">About Me</a></li>
        </ul>
    </nav>
</header>

{% if not category %}  {# 没有参数的时候,就显示默认的这个界面 #}
    <!-- Three -->
    <section id="banner_element" class="wrapper style1">
        <div class="container">
            <header class="major special">
                <h2 style="color: #aaaaaa">要不 随意看看</h2>
                <p>从这里 蹒跚前行</p>
            </header>
            <div class="feature-grid">
                <div class="feature">
                    <div class="image rounded"><a href="/category/python/"><img src="/static/images/pic04.jpg" alt=""/></a>
                    </div>
                    <div class="content">
                        <header>
                            <h4>Python</h4>
                            <p>Explicit is better than implicit.</p>
                        </header>
                        <p>明言胜于暗示。</p>
                    </div>
                </div>
                <div class="feature">
                    <div class="image rounded"><a href="/category/django/"><img src="/static/images/pic05.jpg" alt=""/></a>
                    </div>
                    <div class="content">
                        <header>
                            <h4>django</h4>
                            <p>The most popular python web frame </p>
                        </header>
                        <p>最流行的Python Web框架,<br>比更流行还流行。</p>
                    </div>
                </div>
                <div class="feature">
                    <div class="image rounded"><a href="/category/frontend/"><img src="/static/images/pic06.jpg"
                                                                                  alt=""/></a></div>
                    <div class="content">
                        <header>
                            <h4>Frontend</h4>
                            <p>The front make every thing possible</p>
                        </header>
                        <p>脸决定一切。</p>
                    </div>
                </div>
                <div class="feature">
                    <div class="image rounded"><a href="/category/lifetime/"><img src="/static/images/pic07.jpg"
                                                                                  alt=""/></a></div>
                    <div class="content">
                        <header>
                            <h4>lifetime</h4>
                            <p>for a lifetime of progress</p>
                        </header>
                        <p>为你,千千万万遍。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% else %}
    {% if alt_content %}
        <section id="banner_element_4" class="wrapper style2">
            <header class="major special">
                <h2> 这个标签还没对应页面... </h2>
                <p>点击<a href="/index/">这里</a>回到主页</p>
            </header>
        </section>
    {% else %}
        <section id="banner_element_4" class="wrapper style1" style="padding-left: 20%; padding-right: 20%">
            <header class="major special">
                <h2 style="color: #aaaaaa">{{ tag }}</h2>
            </header>
            {% for article in category %}

                <div style="text-align: left">
                    <button class="button special style2 small"
                            style="background-color: deepskyblue">{{ article.upload_time|date }}</button>
                </div>
                <div class="container 75%">
                    <div class="row 200%">
                        <div class="6u 12u$(medium)">
                            <header class="major">
                                <h2 style="color: #aaaaaa">{{ article.title }}</h2>
                                <!--标题-->
                                <p>{{ article.subtitle }}</p>
                                <!--副标题-->
                            </header>

                            <button class="button special style2 small"
                                    style="text-align: left; background-color: green">{{ article.category }}</button>
                        </div>
                        <div class="6u$ 12u$(medium)">
                            <p style="color: #aaaaaa">{{ article.selection }}</p>
                            <br>
                            <a href="/articles/{{ article.title }}/"
                               style="color: #7CA0C7;
                                text-align: right;
                                text-decoration: none"><p>更多</p></a>
                        </div>

                    </div>
                </div>
                <hr>
                {# 这个section以后还是要进行样式优化 #}
            {% endfor %}
        </section>
    {% endif %}
{% endif %}



<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="#" class="icon fa-facebook"></a></li>
            <li><a href="#" class="icon fa-twitter"></a></li>
            <li><a href="#" class="icon fa-instagram"></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; LumiaXu</li>
            <li>Thanks: <a href="http://templated.co">TEMPLATED</a></li> <!-- 感谢templated提供非盈利性的开源模板,在此提供他们的链接-->
            <li>西元 2016</li>
        </ul>
    </div>
</footer>
</body>
</html>